{% extends 'base.html.twig' %}

{% block title %}Hello DirectcontactController!{% endblock %}

{% block body %}
<div class="row" id="contatti">
 <div class="container contact-top" >
    <div class="row" style="height:700px;">
      <div class="col-md-6 col-sm-12 maps" >
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10560.460440665765!2d7.7432005387599165!3d48.56934406816202!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4796c9a89c8ae887%3A0xf540902bf72ff10a!2sNeudorf%20Ouest%2C%2067100%20Strasbourg!5e0!3m2!1sen!2sfr!4v1588936310140!5m2!1sen!2sfr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
      <div class="col-md-6 col-sm-12 pt-5 ">
       {% for message in app.flashes('message') %}
        <div class="alert alert-success mb-2" id="msg">
          {{ message }}
        </div>  
    	{% endfor %}
            <h2 class="text-uppercase mt-3 font-weight-bold text-white pb-5">Pour plus d'informations contactez le vendeur</h2>
     {% for message in app.flashes('message') %}
        <div class="alert alert-success mb-5" id="msg">
          {{ message }}
        </div>  
    	{% endfor %}
        {{ form_start(form) }}
        <form  method="POST">
          <div class="row">
            <div class="col-lg-6">

              {# <div class="form-group"> #}
                {# <input type="text" class="form-control mt-2" name="name" placeholder="Votre nom" required> #}
                {{ form_row(form.name,{'attr':{'placeholder': 'Votre nom' }})}}

              {# </div> #}
            </div>
            <div class="col-lg-6">
              {# <div class="form-group"> #}
                {# <input type="text" class="form-control mt-2" name="object" placeholder="Objet" required> #}
                {{ form_row(form.object,{'attr': {'placeholder' : 'Objet'}})}}

              {# </div> #}
            </div>
            <div class="col-lg-6">
              {# <div class="form-group"> #}
                {# <input type="email" class="form-control mt-2" name="email" placeholder="Votre email" required> #}
                {{ form_row(form.email,{'attr': {'placeholder' : 'Votre email'}})}}

              {# </div> #}
            </div>
            <div class="col-12">
              {# <div class="form-group"> #}
                {# <textarea class="form-control" id="exampleFormControlTextarea1" name="message" placeholder="Votre message" rows="3" required></textarea> #}
                {{ form_row(form.message,{'attr': {'placeholder' : 'Votre message'}})}}  
              {# </div> #}
            </div>
            <div class="col-12">
              <button class="btn btn-light" type="submit"><span class="btn-text">Envoyer</span></button>
            {{ form_end(form)}} 
            </div>
          </div>
        </form>
       
      </div>

    </div>
  </div>
</div>

{% endblock %}
